CMakeFiles/
cmake*
CMakeCache*
Makefile

.vscode/
.idea/
bin/
lib/
libs/
release/
debug/

/test/*
!/test/CMakeLists.txt
!/test/*.cpp
!/test/*.h
!/test/data
!/test/*.sh

/schedule/*
!/schedule/CMakeLists.txt
!/schedule/*.cpp
!/schedule/*.h
!liblist.txt

!/build/
!/bin/

release/
*.o
*.deb

u16
u18
DEBIAN