<BODY>
    <VERSION>
        <IGNORE>V0</IGNORE>
        <CURRENT>V0.9.8</CURRENT>
    </VERSION>
    <FILTER>*.*rgb* *.*raw* *.*yuv* *.*bayer* *.*plain* *.*nv* *.*vn* *.*G*G* *.gray* *.png *.jpg *.jpeg *.gif *.bmp *.*mipi*</FILTER>
    <PATH>
        <ROOTDIR>$HOME</ROOTDIR>
    </PATH>
    <FORMAT>
        <CLASS>
            <SIZE>4344 5792 5792 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>1080 1920 1920 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>1200 1600 1600 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>1536 2048 2048 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>1944 2592 2592 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>2448 3264 3264 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>2736 3648 3648 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>3000 4000 4000 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>3096 4128 4128 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>3216 4228 4228 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>3840 5120 5120 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>5440 7264 7264 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>240 320 320 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>480 640 640 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>600 800 800 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
        <CLASS>
            <SIZE>270 360 360 1</SIZE>
            <TYPE></TYPE>
        </CLASS>
    </FORMAT>
</BODY>